/* debug class */
.debug [class*="col-"]{
    height: 100px;
    background-color: pink;
    border: 1px solid 
}

.height_500{
    height: 500px;
    background-color: lightgreen;
}

.height_900{
    height: 900px;
    background-color: lightgrey;
}

main section{
    margin: 2% 0;
}

.width_100{
    width: 100%;
}
.sm-hidden{
    display: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}

/* ---------------------------- */
/* START HEADER LAYOUT  */
/* ---------------------------- */
img.logo{
    width: 100%;
    vertical-align: middle;
}

.my_nav_btn{
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #006aff;
    border-radius: 5px;
    color:  #006aff;
}

.my_height_80{
    height: 80px;
    background-color: #ffffff;
    line-height: 80px;
}
nav.my_height_80 ul li a{
    color: #142b58;
    font-size: 15px;
}

nav.my_height_80 a{
    line-height: 80px;
}

.hamburger i{
    line-height: 80px;
    font-size: 20px;
    color: #142b58;
}
/* start jumbo layout */
.my_paddingx3{
    padding: 3%;
}
section#jumbotron {
    background-image: url('../img/bg-home-1.jpg');
}

.my_jumbo{
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-size: 55px;
    color:white;
}
#jumbotron p {
    color:white;
    font-size: 18px;
}
.subtitle_form{
    background-color: #ffffff;
    border-radius: 3%;
    height: 100%;
}
.subtitle_form h2{
    font-size: 35px;
}
.my_relative{
    position: relative
}
.google-icon{
    height: 100%;
    width: 10%;
    position: absolute;
    left: 0;
}

p.my_black{
    font-size: 8px;
    color: black;
}

/* start #parteners section */
#partners {
    background-color: #f3f5f9;
}

.my_height_partners_img{
    height: 100%;
}

#partners img{
    line-height: 77px;
    width: 90%;
}

.my_height_77{
    height: 77px;
}

/* deploy section */
#list_deploy li{
    padding: 4%;
    border-left: 2px solid #e5e8ed  ;
} 

#list_deploy li:hover {
    border-left: 2px solid #006bfd;

}
/* /end deploy section */

/* start graphic/design section */
#graphic{
    background-color: #f3f5f9;
}

.arrow_left i{
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    font-size: 30px;
}
.arrow_right i{
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
    font-size: 30px;
}


.my_padding_b{
    padding-bottom: 50px;
}