/* debug class */
.debug [class*="col-"]{
    height: 150px;
    background-color: pink;
    border: 1px solid 
}

.height_500{
    height: 500px;
    background-color: lightgreen;
}

.height_900{
    height: 900px;
    background-color: lightgrey;
}

main section{
    margin: 2% 0;
}


.sm-hidden{
    display: none;
}

/* ---------------------------- */
/* START HEADER LAYOUT  */
/* ---------------------------- */
img.logo{
    width: 100%;
    vertical-align: middle;
}

.my_nav_btn{
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #006aff;
    border-radius: 5px;
    color:  #006aff;
}

.height_80{
    height: 80px;
    background-color: #ffffff;
}
nav.height_80 ul li a{
    color: #142b58;
    font-size: 15px;
}

nav.height_80 a{
    line-height: 80px;
}

.hamburger i{
    line-height: 80px;
    font-size: 20px;
    color: #142b58;
}
/* start jumbo layout */
section#jumbotron {
    background-image: url('../img/bg-home-1.jpg');
}
