/* debug class */
.debug [class*="col-"]{
    height: 150px;
    background-color: pink;
    border: 1px solid 
}

.height_500{
    height: 500px;
    background-color: lightgreen;
}

.height_900{
    height: 900px;
    background-color: lightgrey;
}

main section{
    margin: 2% 0;
}


.sm-hidden{
    display: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}

/* ---------------------------- */
/* START HEADER LAYOUT  */
/* ---------------------------- */
img.logo{
    width: 100%;
    vertical-align: middle;
}

.my_nav_btn{
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #006aff;
    border-radius: 5px;
    color:  #006aff;
}

.height_80{
    height: 80px;
    background-color: #ffffff;
}
nav.height_80 ul li a{
    color: #142b58;
    font-size: 15px;
}

nav.height_80 a{
    line-height: 80px;
}

.hamburger i{
    line-height: 80px;
    font-size: 20px;
    color: #142b58;
}
/* start jumbo layout */
#jumbo{
    height: 10%;
}
section#jumbotron {
    background-image: url('../img/bg-home-1.jpg');
}

h1 {
    font-size: 60px;
    color:white;
}
#jumbotron p {
    color:white;
    font-size: 20px;
}

.my_jumbo{
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: black;
    border: 1px solid white;
}